*{
    margin: 0;
    padding: 0;
}

.ratingbox{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20,21,25);
}

.rating{
    width: 350px;
    height: 320px;
    background-color: rgb(31,38,48);
    border-radius: 20px;
}

.ratingboxin{
    margin-left: 30px;
    width: 290px;
    height: 320px;
}

.ratingboxin h3{
    color: white;
    font-family: Arial;
    font-size: 22px;
    font-weight: normal;
}

.plsSpeedINeedthis{ /* ratingboxin p */
    margin-top: 15px;
    color: rgb(144,151,161);
    font-family: Arial;
    font-size: 12px;
    width: 270px;
    margin-bottom: 20px;
}

.iconbox{
    border-radius: 100%;
    margin-top: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38,47,56);
    margin-bottom: 30px;
}

.stars{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.star{
    background-color: rgb(38,47,56);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 12px;
}

.stars:hover .star:hover{
    background-color: rgb(252,118,19);
    color: black;
}

.submit{
    border: none;
    background-color: rgb(252,118,19);
    cursor: pointer;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 290px;
    font-family: Arial;
}

.submit:hover{
    background-color: white;
}

.thanksbox{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20,21,25);
    display: none;
}

.thanks{
    width: 360px;
    height: 354px;
    background-color: rgb(28,35,45);
    border-radius: 20px;
}

.thanks h3{
    color: white;
    font-family: Arial;
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 300;
}

.gratefulbox{
    width: 300px;
    margin-left: 30px;
    font-size: 13.5px;  
}

.grateful{  /* .thanks p */
    font-family: Arial;
    color: white;
    text-align: center;
}

.illustration{
    padding-top: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    width: 360px;
    height: 84px;
}

.illustration img{
    width: 120px;
    height: 84px;
}   

.pbox{
    border-radius: 20px;
    background-color: rgb(31,38, 49);
    width: 140px;
    font-family: Arial;
    font-size: 13px;
    margin-left: 105px;
    color: rgb(176,104,64);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    margin-bottom: 30px;
}